div {
  border: 1px solid red;
  background-color: red;
  background-color: rgb(91, 132, 118);
  color: #000000;
  display: flex;
  padding: 1rem;
  gap: 1rem;
  font-weight: bold;
  align-items: center;
  line-height: 2;
  background-color: #1b1a1b;
  border: 1px solid red;
}

.div-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 1rem;
  row-gap: 1rem;
  column-gap: 1rem;
  color: #7a7a7b;
  min-height: 100%;
  padding: 0.5rem 1rem;
  text-transform: capitalize;
  border-right: 1px solid gray;
  border-left: 1px solid red;
  max-width: 16.25rem;
  font-weight: bold;
}
div {
  width: 1.5rem;
  border-radius: 10rem;
}
div {
  display: grid;
  grid-template-columns: auto 1fr auto;
  min-width: 100vw;
  display: flex;
  justify-content: center;
  max-width: 64rem;
}
