div {
  display: grid;
  grid-template-columns: auto 1fr auto;
  width: 100%;
  max-width: 17rem;
}

.text-footer {
  color: #5f5f61;
  word-spacing: 0.2rem;
  letter-spacing: 0.02rem;
  padding: 0 1rem;
}
